h2 {
    color :rgb(33, 177, 76);
    text-align:center;
}

h3 {
    color :rgb(0, 140, 255)
}

p,h1,h3,h2{
    text-align:center;
}

.header {
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}

.bodyimg {
    background-color: rgb(151, 247, 113);
    text-align:center;

}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.menu {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.menu a {
    padding-right: 20px;
}

