h2 {
    color :rgb(33, 177, 76);
    text-align:center;
}

h3 {
    color :rgb(0, 140, 255)
}

p,h1,h3,h2{
    text-align:center;
}

.header {
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}

.bodyimg {
    background-color: rgb(151, 247, 113);
    text-align:center;

}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}



